<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testAPIMethods.Assignment_GetAllEmployees"/>
      <class name="testAPIMethods.Assignment_GetSingleEmployee"/>
      <class name="testAPIMethods.Assignment_Post"/>
      <class name="testAPIMethods.Assignment_Put"/>
      <class name="testAPIMethods.Assignment_Patch"/>
      <class name="testAPIMethods.Assignment_Delete"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
